In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("C:\\Users\\91701\\Documents\\Datasets\\historical_data.csv")

In [3]:
df.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0

In [4]:
df['created_at']=pd.to_datetime(df['created_at'])
df['actual_delivery_time']=pd.to_datetime(df['actual_delivery_time'])
df['delivery_duration'] = (df['actual_delivery_time'] - df['created_at']).dt.total_seconds()

In [5]:
df['created_at']

0        2015-02-06 22:24:17
1        2015-02-10 21:49:25
2        2015-01-22 20:39:28
3        2015-02-03 21:21:45
4        2015-02-15 02:40:36
                 ...
197423   2015-02-17 00:19:41
197424   2015-02-13 00:01:59
197425   2015-01-24 04:46:08
197426   2015-02-01 18:18:15
197427   2015-02-08 19:24:33
Name: created_at, Length: 197428, dtype: datetime64[ns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 17 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   market_id                                     196441 non-null  float64
 1   created_at                                    197428 non-null  datetime64[ns]
 2   actual_delivery_time                          197421 non-null  datetime64[ns]
 3   store_id                                      197428 non-null  int64
 4   store_primary_category                        192668 non-null  object
 5   order_protocol                                196433 non-null  float64
 6   total_items                                   197428 non-null  int64
 7   subtotal                                      197428 non-null  int64
 8   num_distinct_items                            197428 non-null  int64
 9   min_item_price                                197428 non-null  int64
 10  max_item_price                                197428 non-null  int64
 11  total_onshift_dashers                         181166 non-null  float64
 12  total_busy_dashers                            181166 non-null  float64
 13  total_outstanding_orders                      181166 non-null  float64
 14  estimated_order_place_duration                197428 non-null  int64
 15  estimated_store_to_consumer_driving_duration  196902 non-null  float64
 16  delivery_duration                             197421 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(7), object(1)
memory usage: 25.6+ MB

In [7]:
df.isnull().any()

market_id                                        True
created_at                                      False
actual_delivery_time                             True
store_id                                        False
store_primary_category                           True
order_protocol                                   True
total_items                                     False
subtotal                                        False
num_distinct_items                              False
min_item_price                                  False
max_item_price                                  False
total_onshift_dashers                            True
total_busy_dashers                               True
total_outstanding_orders                         True
estimated_order_place_duration                  False
estimated_store_to_consumer_driving_duration     True
delivery_duration                                True
dtype: bool

In [8]:
df.dropna()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,delivery_duration
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0,3779.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0,4024.0
8,2.0,2015-02-16 00:11:35,2015-02-16 00:38:01,5477,indian,3.0,4,4771,3,820,1604,8.0,6.0,18.0,446,289.0,1586.0
14,1.0,2015-02-12 03:36:46,2015-02-12 04:14:39,2841,italian,1.0,1,1525,1,1525,1525,5.0,6.0,8.0,446,795.0,2273.0
15,1.0,2015-01-27 02:12:36,2015-01-27 03:02:24,2841,italian,1.0,2,3620,2,1425,2195,5.0,5.0,7.0,446,205.0,2988.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197423,1.0,2015-02-17 00:19:41,2015-02-17 01:24:48,2956,fast,4.0,3,1389,3,345,649,17.0,17.0,23.0,251,331.0,3907.0
197424,1.0,2015-02-13 00:01:59,2015-02-13 00:58:22,2956,fast,4.0,6,3010,4,405,825,12.0,11.0,14.0,251,915.0,3383.0
197425,1.0,2015-01-24 04:46:08,2015-01-24 05:36:16,2956,fast,4.0,5,1836,3,300,399,39.0,41.0,40.0,251,795.0,3008.0
197426,1.0,2015-02-01 18:18:15,2015-02-01 19:23:22,3630,sandwich,1.0,1,1175,1,535,535,7.0,7.0,12.0,446,384.0,3907.0
197427,1.0,2015-02-08 19:24:33,2015-02-08 20:01:41,3630,sandwich,1.0,4,2605,4,425,750,20.0,20.0,23.0,446,134.0,2228.0

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le=LabelEncoder()

In [11]:
df.dropna(subset=['actual_delivery_time', 'created_at'], inplace=True)

In [12]:
df['market_id'].fillna(-1,inplace=True)
df['store_primary_category'].fillna('Unknown', inplace=True)
df['order_protocol'].fillna(-1, inplace=True)

In [13]:
df['total_onshift_dashers'].fillna(df['total_onshift_dashers'].median(), inplace=True)
df['total_busy_dashers'].fillna(df['total_busy_dashers'].median(), inplace=True)
df['total_outstanding_orders'].fillna(df['total_outstanding_orders'].median(), inplace=True)
df['estimated_store_to_consumer_driving_duration'].fillna(df['estimated_store_to_consumer_driving_duration'].median(), inplace=True)

In [14]:
df['hour'] = df['created_at'].dt.hour
df['day_of_week'] = df['created_at'].dt.dayofweek
df['month'] = df['created_at'].dt.month
df = pd.get_dummies(df, columns=['hour', 'day_of_week', 'month', 'store_primary_category'], drop_first=True)

In [15]:
df['hour']=df['created_at'].dt.hour

In [16]:
X = df.drop(columns=['created_at', 'actual_delivery_time', 'delivery_duration'])
y = df['delivery_duration']

In [17]:
x=df.drop(['created_at','actual_delivery_time'],axis=1)

In [18]:
y=df['delivery_duration']

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=40,random_state=40)

In [21]:
x_train

,market_id,store_id,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,...,store_primary_category_spanish,store_primary_category_steak,store_primary_category_sushi,store_primary_category_tapas,store_primary_category_thai,store_primary_category_turkish,store_primary_category_vegan,store_primary_category_vegetarian,store_primary_category_vietnamese,hour
167329,2.0,601,3.0,1,799,1,799,799,74.0,87.0,...,False,False,False,False,False,False,False,False,False,1
139778,4.0,5829,2.0,3,4095,3,995,1550,96.0,67.0,...,False,False,False,False,False,False,False,False,False,3
121706,3.0,3830,1.0,4,2706,4,299,999,33.0,27.0,...,False,False,False,False,False,False,False,False,False,4
148817,2.0,3851,3.0,5,2895,3,199,699,36.0,57.0,...,False,False,False,False,False,False,False,False,False,0
189824,1.0,3664,4.0,7,4395,3,315,1095,24.0,24.0,...,False,False,False,False,False,False,False,False,False,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56762,6.0,4717,1.0,1,1975,1,1700,1700,37.0,34.0,...,False,False,False,False,False,False,False,False,False,4
93179,1.0,4401,5.0,1,1150,1,1150,1150,7.0,5.0,...,False,False,False,False,False,False,False,False,False,1
30729,1.0,5507,5.0,2,2845,2,1150,1295,10.0,11.0,...,False,False,False,False,False,False,False,False,False,2
112862,3.0,6802,1.0,4,4666,4,270,1929,25.0,25.0,...,False,False,False,False,False,False,False,False,False,2
142667,1.0,3600,2.0,2,2698,2,1199,1199,18.0,18.0,...,False,False,False,False,False,False,False,False,False,0

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
lr=LinearRegression()

In [24]:
lr.fit(x_train,y_train)

LinearRegression()

In [25]:
y_pred=lr.predict(x_test)

In [26]:
y_pred

array([2594., 1795., 1214., 3056., 2049., 2533., 2876., 1360., 2019.,
       1825., 3966., 6761., 3240., 4079., 4271., 1614., 3050., 2143.,
       2669., 3694., 2813., 2793., 5690., 2328., 2319., 4829., 2857.,
       3134., 1360., 2095., 1616., 2491., 2302., 2065., 3047., 3527.,
       3266., 2108., 3232., 3266.])

In [27]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [28]:
mse_lr=mean_squared_error(y_test, y_pred)

In [29]:
mse_lr

4.046787276459621e-22

In [32]:
new_orders_hours = y_pred // 3600
new_orders_minutes = (y_pred % 3600) // 60

# Display the predicted delivery duration
print("Predicted Delivery Duration (in seconds):", y_pred)
print("Predicted Delivery Duration (in hours):", new_orders_hours)
print("Predicted Delivery Duration (in minutes):", new_orders_minutes)

Predicted Delivery Duration (in seconds): [2594. 1795. 1214. 3056. 2049. 2533. 2876. 1360. 2019. 1825. 3966. 6761.
 3240. 4079. 4271. 1614. 3050. 2143. 2669. 3694. 2813. 2793. 5690. 2328.
 2319. 4829. 2857. 3134. 1360. 2095. 1616. 2491. 2302. 2065. 3047. 3527.
 3266. 2108. 3232. 3266.]
Predicted Delivery Duration (in hours): [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0.
 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Predicted Delivery Duration (in minutes): [43. 29. 20. 50. 34. 42. 47. 22. 33. 30.  6. 52. 53.  7. 11. 26. 50. 35.
 44.  1. 46. 46. 34. 38. 38. 20. 47. 52. 22. 34. 26. 41. 38. 34. 50. 58.
 54. 35. 53. 54.]